section.profile-page
    min-height: 87vh
    padding-top: 60px
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    background: linear-gradient(rgba(23, 36, 20, 0.705), rgba(23, 36, 20, 0.705)), url("https://demo.templateflip.com/creative-cv/images/cc-bg-1.jpg")
    // height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .page-header
        // width: 100%
        padding: 3.5rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            figure
                justify-content: center
                align-items: center
                img
                    border-radius: 50%
                    width: 150px
                    height: 150px
                img:hover
                    transform: scale(1.06, 1.06)
            .title
                margin-top: 30px
                h1
                    color: white
                    font-size: 2.5rem
            p
                margin: 10px
                color: white
                font-weight: bold
                text-transform: uppercase
            .btn-profile
                display: flex
                gap: 10px
                a
                    width: 8.5rem
                    padding: 0.7rem 0
                    justify-content: center
                    display: flex
                    background-color: #378C3F 
                    color: white
                    text-decoration: none
                    border-radius: 3px
                    font-size: 12px
                    margin: 15px 0
        
.sosmed
    margin: 50px
    display: flex
    align-items: center
    justify-content: center     
    .container-sosmed
        // margin-top:px
        .button-container
            display: flex
            justify-content: space-between
            gap: 20px
            align-items: center
            margin-top: -80px
            button
                // padding: 15px
                background-color: grey
                border-radius: 50%
                height: 3.6rem
                width: 3.6rem
                a
                    color: white
                    align-items: center
                    i
                        transform: scale(2)

.about
    // margin: 100px 0
    display: flex
    justify-content: center
    .container-about
        margin-top: 80px
        width: 80%
        display: flex
        justify-content: space-between
        gap: 30px
        align-items: center
        border-radius: 3px
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        .about-content
            width: 50%
            padding: 1.5rem
            display: grid
            gap: 30px
            p
                font-weight: thin 
        .about-information
            padding: 1.5rem
            width: 50%
            .detail-information
                margin-top: 20px
                display: flex
                .type
                    width: 30%
                    text-transform: uppercase
                .content
                    width: 70%

.skills
    display: flex
    justify-content: center
    .container-skills
        margin-top: 100px
        width: 80%
        align-items: center
        display: flex
        flex-direction: column
        .skills-content
            margin-top: 25px
            width: 100%
            padding: 1.5rem
            display: grid
            grid-template-columns: auto auto
            gap: 30px
            align-items: center
            border-radius: 3px
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
            .skill-name
                display: flex
                justify-content: space-between
                margin-bottom: 17px
                .progress-badge
                    color: #378C3F
                    text-transform: uppercase
                .progress-value
                    color: #378C3F
                    top: 2px
                    right: 0
            .progress-bar
                // display: flex
                height: 5px
                background-color: #d0ffa9
                .progress-per
                    height: 5px
                    background-color: #378C3F
                    width: 80%
                    transition: 1s linear
                    position: relative
            

.portofolio
    display: flex
    justify-content: center
    .container-portofolio
        margin-top: 100px
        width: 80%
        align-items: center
        display: flex
        flex-direction: column
        .title-container
            align-items: center
            display: flex
            flex-direction: column
            h2
                font-size: 30px
            .portofolio-type
                display: flex
                justify-content: space-between
                gap: 20px
                align-items: center
                margin: 30px
                button
                    // padding: 15px
                    background-color: #ebebeb
                    border-radius: 50%
                    height: 3.6rem
                    width: 3.6rem
                    a
                        color: grey
                        align-items: center
                        i
                            transform: scale(1.5)
        .project-container
            display: grid
            grid-template-columns: auto auto
            gap: 30px
            align-items: center
            justify-content: center
            // width: 80%
            .project
                figure
                    img
                        width: 525px
                        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.experience
    display: flex
    justify-content: center
    .container-experience
        margin-top: 100px
        width: 80%
        align-items: center
        display: flex
        flex-direction: column
        .content-experience 
            .experience-card
                margin-top: 25px
                width: 100%
                // padding: 1.5rem
                display: grid
                grid-template-columns: auto auto
                // gap: 30px
                align-items: center
                border-radius: 3px
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
                .card-header
                    background-color: #378C3F
                    height: 100%
                    width: 17rem
                    // width: 40%
                    display: flex
                    flex-direction: column
                    padding: 1.5rem
                    gap: 15px
                    align-items: center
                    text-align: center
                    justify-content: center
                    color: white
                    text-transform: uppercase
                    border-top-left-radius: 3px
                    border-bottom-left-radius: 3px
                    p
                        font-size: 15px
                    h5
                        font-size: 20px
                        font-weight: light
                .card-body
                    padding: 2rem
                    // width: 60%
                    h5
                        font-size: 20px
                        margin-bottom: 15px

.education
    display: flex
    justify-content: center
    .container-education
        margin-top: 100px
        width: 80%
        align-items: center
        display: flex
        flex-direction: column
        .content-education 
            .education-card
                margin-top: 25px
                width: 100%
                // padding: 1.5rem
                display: grid
                grid-template-columns: auto auto
                // gap: 30px
                align-items: center
                border-radius: 3px
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
                .card-header
                    background-color: #378C3F
                    height: 100%
                    width: 17rem
                    // width: 40%
                    display: flex
                    flex-direction: column
                    padding: 1.5rem
                    gap: 15px
                    align-items: center
                    text-align: center
                    justify-content: center
                    color: white
                    text-transform: uppercase
                    border-top-left-radius: 3px
                    border-bottom-left-radius: 3px
                    p
                        font-size: 15px
                    h5
                        font-size: 20px
                        font-weight: light
                .card-body
                    padding: 2rem
                    // width: 60%
                    h4
                        font-size: 20px
                    h5
                        // font-size: 20px
                        margin-top: 5px
                        margin-bottom: 15px
                        font-weight: 700
                        color: #9A9A9A

.references
    display: flex
    justify-content: center
    .container-references
        margin-top: 100px
        width: 80%
        align-items: center
        display: flex
        flex-direction: column
        .references-card
            margin-top: 25px
            width: 100%
            // padding: 1.5rem
            display: grid
            grid-template-columns: auto auto
            // gap: 30px
            align-items: center
            border-radius: 3px
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            .card-header
                height: 100%
                width: 10rem
                display: flex
                flex-direction: column
                padding: 2rem
                gap: 15px
                align-items: center
                text-align: center
                justify-content: center
                border-top-left-radius: 3px
                border-bottom-left-radius: 3px
                figure
                    img
                        width: 80px
                        height: 80px
                p
                    font-size: 15px
                h5
                    text-transform: uppercase
                    font-weight: 700
                    color: #9A9A9A
            .card-body
                padding: 2rem 1.5rem
                justify-content: flex-start
                align-items: flex-start
                height: 100%

.contact
    padding-top: 60px
    display: flex
    justify-content: center
    .container-information
        background-image: url(https://demo.templateflip.com/creative-cv/images/staticmap.png)
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .container-contact
            background-color: #fff
            width: 50%
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            margin: 5rem 0
            padding: 2rem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 2rem
            border-radius: 3px
            .content-contact
                display: flex
                justify-content: space-between
                align-items: flex-start
                // gap: 0.5rem
                width: 100%
                .send-email
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    gap: 1.5rem
                    width: 45%
                    .input
                        position: relative
                        width: 100%
                        i
                            position: absolute
                            left: 20px
                            top: 50%
                            transform: translateY(-50%)
                            color: #504f4f
                        input
                            width: 100%
                            padding: 12px 10px 12px 50px  //Padding left lebih besar untuk memberi ruang ikon */
                            border: 1px solid #ccc
                            border-radius: 30px
                            outline: none
                    .message
                        position: relative
                        width: 100%
                        input
                            padding: 20px 10px 10px 10px
                            width: 100%
                            top: 10px
                            height: 70px
                            border-bottom: 1px solid #1c7201
                        input::placeholder
                            position: absolute
                            top: 10px
                    button
                        // position: relative
                        background-color: #378C3F
                        color: #fff
                        padding: 0.8rem 1rem
                        width: 80px
                        border-radius: 3px
                .info-contact
                    display: flex
                    flex-direction: column
                    gap: 1.5rem
                    width: 45%
                    p
                        font-size: 15px




                        


            



