<footer>
    <div class="container-footer">
        <div class="social-media-icon">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="sign">
            <h2>Anthony Barnett</h2>
        </div>
        <div class="copywrite">
            <small>&copy; Creative CV. All rights reserved.</small>
        </div>
        
    </div>

</footer>
